header {
  text-align: center;
}
a {
  color: white;
  font-size: 20px;
}
h1 {
  vertical-align: center;
  text-align: center;
  color: white;
  font-size: 100px;
  padding: 100px;
  text-shadow: 2px 2px #000000;
}

h2 {
  color:black;
  font-size:32px;
  font-family: "Muli";
  vertical-align: center;
  padding-bottom: 10px;
}

h4 {
  color:black;
  font-size:18px;
  font-family: "Muli";
}

img {
  border: 2px solid white;
  border-radius: 20px;
}
.pull-left{
  margin-right: 20px;
}
.menu li {
  padding: 0px 10px 0px 10px;
   display: inline;
   width: 30px;
}
article {
  max-width: 760px;
  padding: 20px;
  margin: 0 auto;
}
.socials {
  margin-top: 20px;
  text-align: center;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

body { 
  font-size: 15px; 
  font-family: 'Muli';
}

.header-image {
  background:url("./header.png");
  height: 500px;
  position: relative;
}

.content {
  padding:50px;
}
.menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0,0,0,0.7);
}
.recipes {
  width:100%;
  position: absolute;
  bottom: 0;
}

.iwona p {
  text-align: justify;
  text-justify: inter-word;
}
.loisabout p {
  text-align: justify;
  text-justify: inter-word;
}

.Welcome p {
   text-align: justify;
  text-justify: inter-word;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline;
}
